<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link th:href="@{/css/search.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <div class="header">
    <div class="header-left">
      <div class="login">로그인</div>
      <div class="signup">회원가입</div>
    </div>

    <div class="header-right">
      <img src="/images/로고_기본.png">
    </div>

    <hr class="headerHr">
  </div>

  <div class="main">
    <div class="search_bar">
      <div id="detail_search">상세검색</div>
      <div id="bar">
        <form th:action="@{/search/ToSearch}" method="get">
          <input type="text" name="search_word" id="search_word">
          <button type="submit" id="swbtn"> > </button>
        </form>
      </div>
    </div>


    <!--검색 조건이 선택된 상태에서 검색어 입력하면, 검색 조건과 검색어 둘다 컨트롤러로 이동되어야 함-->
    <div class="requirements">

      <form th:action="@{/search/ToSearch}" method="get">

      <div class="req_box">

        <div class="region_box">

          <div class="req_txt">지역별</div>

          <div class="cities">
              <input class="word" type="submit" name="search_word" th:value="서울">
              <input class="word" type="submit" name="search_word" th:value="경기">
              <input class="word" type="submit" name="search_word" th:value="인천">
              <input class="word" type="submit" name="search_word" th:value="대전">
              <input class="word" type="submit" name="search_word" th:value="광주">
              <input class="word" type="submit" name="search_word" th:value="대구">
              <input class="word" type="submit" name="search_word" th:value="부산">
              <input class="word" type="submit" name="search_word" th:value="세종">
              <input class="word" type="submit" name="search_word" th:value="울산">
          </div>

          <div class="-do">
              <input class="word" type="submit" name="search_word" th:value="강원도">
              <input class="word" type="submit" name="search_word" th:value="충청북도">
              <input class="word" type="submit" name="search_word" th:value="충청남도">
              <input class="word" type="submit" name="search_word" th:value="전라북도">
              <input class="word" type="submit" name="search_word" th:value="전라남도">
              <input class="word" type="submit" name="search_word" th:value="경상북도">
              <input class="word" type="submit" name="search_word" th:value="경상남도">
              <input class="word" type="submit" name="search_word" th:value="제주">
          </div>

        </div>

        <div class="items_box">

          <div class="req_txt">필요물품별</div>

          <div class="items">
              <input class="word" type="submit" name="search_word" th:value="사료">
              <input class="word" type="submit" name="search_word" th:value="간식">
              <input class="word" type="submit" name="search_word" th:value="장난감">
              <input class="word" type="submit" name="search_word" th:value="이불">
              <input class="word" type="submit" name="search_word" th:value="기타">
          </div>
        </div>

      </div>

      </form>
    </div>

    <div class="result_header">
      <a>검색 결과 n개</a>
    </div>

    <div class="search_flexbox">

    <div class="search_results" th:each="shel:${slist}">
      <div class="result_main">
        <div class="shelter_box">
          <div class="shel_name"><a th:href="@{/shelter/toDetail}" th:text="${shel.shelter_name}"></a></div>
          <span class="shel_add" th:text="${shel.shelter_address}"></span>

          <!-- <span class="shel_like" th:text="${shel.해당 유저에 대한 보호소 좋아요 여부}">좋아요</span> -->

        </div>
      </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <hr class="headerHr">
    <div class="footer_flexbox">
      <div class="biz_info">
        <span class="info_txt">디얼둥이 | 고양시 강아지동 냥냥 79-59</span>
        <span class="info_txt">02-7979-5959 | deardungee@admin.kr</span>
        <span class="info_txt" id="copyright">©deardungee all right reserved.</span>
      </div>
      <div class="sns_terms">
        <div class="sns_icon">
          <img src="/images/instagram.png" id="insta"></img>
          <img src="/images/facebook.png" id="facebook"></img>
          <img src="/images/youtube.png" id="youtube"></img>
        </div>
        <div class="terms">
          <span id="use_terms" >이용약관</span>
          <span id="privacy_policy">개인정보처리방침</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>
</html>