<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>검색</title>
  <link th:href="@{/css/search.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <div class="header">
    <div class="header-left">
      <div class="login">로그인</div>
      <div class="signup">회원가입</div>
    </div>

    <div class="header-right">
      <img src="/images/로고_기본.png">
    </div>

    <hr class="headerHr">
  </div>

  <div class="main">

      <form th:action="@{/search/ToSearch}" method="get">

    <div class="search_bar">
      <div id="detail_search">상세검색</div>
      <div id="bar">
          <input type="text" name="search_word" id="search_word">
          <button type="submit" id="swbtn"> > </button>
      </div>
    </div>


    <div class="requirements">

      <div class="req_box">

        <div class="region_box">

          <div class="req_txt">지역별</div>

          <div class="cities">
              <input class="form-check-input"  id="region1" type="radio" name="region" th:value="서울">
              <label class="form-check-label">서울</label>

              <input class="form-check-input" id="region2" type="radio" name="region" th:value="경기">
              <label class="form-check-label">경기</label>

              <input class="form-check-input" id="region3" type="radio" name="region" th:value="인천">
              <label class="form-check-label">인천</label>

              <input class="form-check-input" id="region4" type="radio" name="region" th:value="대전">
              <label class="form-check-label">대전</label>

              <input class="form-check-input"  id="region5" type="radio" name="region" th:value="광주">
              <label class="form-check-label">광주</label>

              <input class="form-check-input"  id="region6" type="radio" name="region" th:value="대구">
              <label class="form-check-label">대구</label>

              <input class="form-check-input" id="region7" type="radio" name="region" th:value="부산">
              <label class="form-check-label">부산</label>

              <input class="form-check-input" id="region8" type="radio" name="region" th:value="세종">
              <label class="form-check-label">세종</label>

              <input class="form-check-input" id="region9" type="radio" name="region" th:value="울산">
              <label class="form-check-label">울산</label>
          </div>

          <div class="-do">
              <input class="form-check-input"  id="region10" type="radio" name="region" th:value="강원도">
              <label class="form-check-label">강원도</label>

              <input class="form-check-input" id="region11" type="radio" name="region" th:value="충청북도">
              <label class="form-check-label">충청북도</label>

              <input class="form-check-input" id="region12" type="radio" name="region" th:value="충청남도">
              <label class="form-check-label">충청남도</label>

              <input class="form-check-input" id="region13" type="radio" name="region" th:value="전라북도">
              <label class="form-check-label">전라북도</label>

              <input class="form-check-input" id="region14" type="radio" name="region" th:value="전라남도">
              <label class="form-check-label">전라남도</label>

              <input class="form-check-input" id="region15" type="radio" name="region" th:value="경상북도">
              <label class="form-check-label">경상북도</label>

              <input class="form-check-input" id="region16" type="radio" name="region" th:value="경상남도">
              <label class="form-check-label">경상남도</label>

              <input class="form-check-input" id="region17" type="radio" name="region" th:value="제주">
              <label class="form-check-label">제주</label>
          </div>

        </div>

        <div class="items_box">

          <div class="req_txt">필요물품별</div>

          <div class="items">
              <input class="form-check-input" id="item1" type="radio"  name="item" th:value="1">
              <label  class="form-check-label">사료/간식</label>

              <input class="form-check-input" id="item2"  type="radio" name="item" th:value="2">
              <label  class="form-check-label">장난감</label>

              <input class="form-check-input" id="item3"  type="radio" name="item" th:value="3">
              <label  class="form-check-label">이불</label>

              <input class="form-check-input" id="item4" type="radio"  name="item" th:value="4">
              <label class="form-check-label">기타</label>
          </div>
        </div>

      </div>

    </div>


    <div class="result_header">
      검색 결과
        <a th:text="${#lists.size(slist)}"></a>
        개
    </div>

    <div class="search_flexbox">

    <div class="search_results" th:each="shel:${slist}">
      <div class="result_main">
        <div class="shelter_box">
          <div class="shel_name"><a th:href="@{/shelter/toDetail}" th:text="${shel.shelter_name}"></a></div>
          <span class="shel_add" th:text="${shel.shelter_address}"></span>
        </div>
      </div>
      </div>
    </div>

      </form>

  </div>

  <div class="footer">
    <hr class="headerHr">
    <div class="footer_flexbox">
      <div class="biz_info">
        <span class="info_txt">디얼둥이 | 고양시 강아지동 냥냥 79-59</span>
        <span class="info_txt">02-7979-5959 | deardungee@admin.kr</span>
        <span class="info_txt" id="copyright">©deardungee all right reserved.</span>
      </div>
      <div class="sns_terms">
        <div class="sns_icon">
          <img src="/images/instagram.png" id="insta"></img>
          <img src="/images/facebook.png" id="facebook"></img>
          <img src="/images/youtube.png" id="youtube"></img>
        </div>
        <div class="terms">
          <span id="use_terms" >이용약관</span>
          <span id="privacy_policy">개인정보처리방침</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>
</html>