<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일반 회원가입</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/generalSignup.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>
<div class="container">
    <div class="header">
        <a href="/"><img class="logo" src="/images/logo_basic.png"></a>
    </div>
    <div class="main">
        <div class="main_title">일반 회원</div>
        <form id="frm" action="/member/signup" method="post">
            <div class="main_content">
                <div class="input_div">
                    <div><input type="text" name="name" id="username" maxlength="30" placeholder="이름"></div>
                </div>
                <div class="input_div">
                    <div class="phone_div">
                        <input type="text" name="phone" id="phone" maxlength="11" placeholder="핸드폰 번호 (-을 제외한 숫자)">
                        <button class="certification_btn" type="button">인증</button>
                    </div>
                </div>
                <div class="phoneResult" id="phoneResult"></div>
                <div class="input_div">
                    <div class="certification_div">
                        <input type="number" id="certification_num" placeholder="인증번호">
                        <button class="check_btn" type="button">확인</button>
                    </div>
                </div>
                <!-- <div class="certification_result">인증번호가 올바르지 않습니다.</div> -->
                <div class="input_div">
                    <div><input type="password" name="pw" id="pw" placeholder="비밀번호 (8자 이상의 영문, 숫자, 특수문자 조합)"></div>
                </div>
                <div class="pwResult" id="pwResult"></div>
                <div class="input_div">
                    <div><input type="password" id="pwchk" placeholder="비밀번호 확인"></div>
                </div>
                <div class="pwchkResult" id="pwchkResult"></div>
                <div class="signup_div">
                    <button class="signup_btn" id="signup_btn">회원가입</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/generalSignup.js}"></script>

</body>
</html>