<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <div class="header">
        <a href="/"><img class="logo" src="/images/logo_basic.png"></a>
    </div>
    <div class="main">
        비밀번호 재설정
    </div>
</div>
</body>
</html>
