<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 완료</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>

<body>
<div class="container">
    <div class="header">
        <div class="header-left">
            <a href="/member/toLogin"><div class="login">로그인</div></a>
            <a href="/member/toSignup"><div class="signup">회원가입</div></a>
            <div class="search">
                <span class="material-icons">search</span>
            </div>
        </div>
        <div class="header-right">
            <img src="/images/로고_기본.png">
        </div>
        <hr class="headerHr">
    </div>
    <div class="main">회원가입이 완료되었습니다.</div>
    <div class="footer">
        <hr class="headerHr">
        <div class="footer_flexbox">
            <div class="biz_info">
                <span class="info_txt">디얼둥이 | 고양시 강아지동 냥냥 79-59</span>
                <span class="info_txt">02-7979-5959 | deardungee@admin.kr</span>
                <span class="info_txt" id="copyright">©deardungee all right reserved.</span>
            </div>
            <div class="sns_terms">
                <div class="sns_icon">
                    <img src="/images/instagram.png" id="insta">
                    <img src="/images/facebook.png" id="facebook">
                    <img src="/images/youtube.png" id="youtube">
                </div>
                <div class="terms">
                    <span id="use_terms" >이용약관</span>
                    <span id="privacy_policy">개인정보처리방침</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>