@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SeoulNamsanM';
    box-sizing: border-box;
    }

div {
    /*border: 1px solid black;*/
}

.container {
    width: 1280px;
    margin: auto;
    overflow: hidden;
}

.header {
    height: 180px;
}

.header_left {
    width: 30%;
    height: 100%;
    float: left;
}

.login,
.signup,
.logout {
    position: relative;
    top: 165px;
    left: 4px;
    float: left;
    font-size: 17px;
}

.signup,
.logout {
    margin-left: 15px;
}

.header_a{
    color: black;
    text-decoration-line: none;
}

.header_a:hover {
    font-weight: bold;
}

.header_center {
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    /* 자식 요소를 수평(가로) 기준으로 가운데 정렬시킴 */
    align-items: center;
    /* 자식 요소를 수직(세로) 기준으로 가운데 정렬시킴 */
}

.logo {
    height: 200px;
}

.header_right {
    width: 30%;
    height: 100%;
    float: left;
}

.search {
    width: 99%;
    height: 30px;
    position: relative;
    top: 152px;
    border: 1px solid black;
    border-radius: 5px;
}

.search_text {
    width: 86%;
    position: relative;
    top: 5px;
    left: 5px;
    float: left;
    font-size: 17px;
    border: none;
    outline: none;
}

.search_btn {
    width: 10%;
    height: 23px;
    float: right;
    position: relative;
    top: 2px;
    right: 5px;
    background-color: #ffffff;
    border: none;
    cursor : pointer;
}

.material-icons {
    position: relative;
    left: 7px;
    bottom: 1px;
}

.main {
    height: 500px;
}

.footer {
    height: 80px;
}

.footer_flexbox {
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.info_text{
    display:block;
    text-align: left;
    font-size: 14px;
}

#info_text_phone{
    position: relative;
    top: 3px;
}

#copyright{
    color: grey;
    font-size: small;
}

.sns_terms{
    text-align: right;
}

.sns_icon {
    width:auto;
    height:50px;
    display:inline;
}

.sns_icon> img{
    width:auto;
    height:30px;
}

.terms>span{
    font-size: small;
    position: relative;
    top: 3px;
}

hr {
    height: 1px;
    border-top: 1px solid rgb(216, 216, 216);
}