
  @font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    * {
        font-family: 'SeoulNamsanM';
        box-sizing: border-box;
    }

    div,span {
        /* border: 1px solid black; */
    }

    .container {
        margin: auto;
        width: 978px;
        overflow: hidden;
    }

    /* header */
    .header {
        height: 150px;
    }

    .header-left {
        width: 30%;
        height: 100%;
        float: left;
    }

    .header-right {
        position: relative;
        width: 70%;
        height: 100%;
        float: right;
    }

    .login,
    .signup,
    .search {
        position: relative;
        width: 21%;
        height: 100%;
        float: left;
        line-height: 270px;
        font-size: 17px;
        font-weight: bold;
    }

    .material-icons {
        position: absolute;
        top: 127px;
        left: 15px;
        font-size: 22px;
    }

   .header-right>img {
        position: absolute;
        width: 330px;
        top: -80px;
        right: 310px;
    }

    .headerHr {
        height: 1px;
        border-top: 1px solid rgb(216, 216, 216);
    }

       /* main */
       .main {
           height: fit-content;
       }

       .search_bar {
           margin:20px;
           display:flex;
       }

        #detail_search {
              margin-left:10px;
            }

        #bar{
            margin-left:25px;
        }

        #search_word{
             border-radius: 20px;
             border: 1px solid rgb(216, 216, 216);
             width:200px;
        }

        #swbtn{
        border: 0;
        border-radius: 20px;
        }

       .req_header, .req_box{
           display:flex;
           justify-content: space-around;
           margin:20px;
       }

       .req_txt{
        border-bottom: 1px solid rgb(216, 216, 216);
        text-align : center;
        font-size:larger;
       }

       .items_box , .region_box {
        border: 1px solid rgb(216, 216, 216);
        border-bottom: 1px solid rgb(216, 216, 216);
        border-radius: 3%;
        line-height:35px;
       }

       .cities ,.-do {
           margin:20px;
           padding:15px;
           display:flex;
           justify-content: space-evenly;
       }

       .items{
           margin:20px;
           padding-right:15px;
           padding-left:15px;
           padding-bottom:55px;
           padding-top:55px;
       }

        .items input[type=radio],
        .-do input[type=radio],
        .cities input[type=radio]{
         vertical-align: middle;
        }

         .cities input[type=radio],
         .items input[type=radio]{
            margin:0px;
         }

      .items input[type=radio]+label,
       .-do input[type=radio]+label,
       .cities input[type=radio]+label {
        font-size: 13px;
        line-height:30px;
        flex-wrap: wrap;
        vertical-align: middle;
       }

       .-do input[type=radio]+label{
          line-height:45px;
       }

       .result_header{
           margin:20px;
           margin-left:30px;
       }

       .search_flexbox{
        display:flex;
        justify-content:flex-start;
        margin:20px;
        flex-wrap: wrap;
       }

       .search_results{
        margin:20px;
        margin-top:0px;
       }

       .shelter_box{
           border: 1px solid rgb(216, 216, 216);
           width: 150px;
           height: 100px;
           border-radius: 10%;
           margin:20px;
           margin-top:0px;
           text-align:center;
       }

       .shel_name,.shel_add{
           margin:10px;
           margin-top:20px;
           margin-bottom:20px;
       }

       .shel_name:hover{
           color: blue;
       }

       .shel_add{
        font-size:small;
       }

    /* footer */
  .footer_flexbox {
         height: 100%;
         display:flex;
         justify-content: space-between;
     }
     .info_txt{
         display:block;
         text-align: left;
     }
     #copyright{
         color: grey;
         font-size: small;
     }
     .sns_terms{
         text-align: right;
     }
     .sns_icon {
         display:inline;
         height:50px;
         width:auto;
     }
     .sns_icon> img{
         height:20px;
         width:auto;
     }
     .terms> span{
         font-size: small;
         text-decoration: underline;
     }
