<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

<div class="container">
    <div class="header">
        <div class="header_left">
            <div th:if="${#strings.isEmpty(session.name)}">
                <div class="login">
                    <a href="/member/toLogin">로그인</a>
                </div>
                <div class="signup">
                    <a href="/member/toSignup">회원가입</a>
                </div>
            </div>
            <div th:if="${not #strings.isEmpty(session.name)}">
                <div class="login"> <!--클래스명 수정해야함-->
                    <a th:href="@{/member/toMyPage}" th:text="|${session.name} 님|"></a>
                </div>
                <div class="signup"> <!--클래스명 수정해야함-->
                    <a href="/member/logout">로그아웃</a>
                </div>
            </div>
        </div>
        <div class="header_center">
            <img src="/images/logo_basic.png">
        </div>
        <div class="header_right">
            <!--            <div class="search">-->
            <div class="search_box">
                <form th:action="@{/search/ToSearch}" id="search_form" method="get">
                    <input class="search_text" name="search_word" id="search_word" type="text"
                           placeholder="검색어를 입력해 주세요.">
                    <button class="search_btn" type="submit">
                        <span class="material-icons">search</span>
                    </button>
                </form>
            </div>
            <!--            </div>-->
        </div>


        <!-- <div class="search_bar">
             <form th:action="@{/search/ToSearch}" method="get" id="search_form">
                 <input type="text" name="search_word" id="search_word" placeholder="검색어를 입력해주세요.">
                 <button type="submit" id="swbtn"> ></button>
             </form>
         </div>-->

    </div>
    <hr>

    <div class="main"></div>

    <div class="footer">
        <hr>
        <div class="footer_flexbox">
            <div class="biz_info">
                <span class="info_txt">디얼둥이 | 고양시 강아지동 냥냥 79-59</span>
                <span class="info_txt">02-7979-5959 | deardungee@admin.kr</span>
                <span class="info_txt" id="copyright">©deardungee all right reserved.</span>
            </div>
            <div class="sns_terms">
                <div class="sns_icon">
                    <img src="/images/instagram.png" id="insta">
                    <img src="/images/facebook.png" id="facebook">
                    <img src="/images/youtube.png" id="youtube">
                </div>
                <div class="terms">
                    <span id="use_terms">이용약관</span>
                    <span id="privacy_policy">개인정보처리방침</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>