<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Shelter">

    <select id="selectShelterListBySw" resultType="ShelterDTO" >
        select
        shelter_name,
        shelter_phone,
        shelter_address,
        manager_name,
        manager_phone,
        pw
        from shelter inner join item
        on shelter.shelter_id = item.shelter_id
        where item_name like '%' #{search_word} '%'
        or shelter_name like '%' #{search_word} '%'
        or shelter_address like '%' #{search_word} '%'
    </select>

</mapper>